<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="MonsterDB" connectionString="data source=sqltraining2016.cse8kjampou9.us-east-1.rds.amazonaws.com;Integrated Security=False;User ID=sqladmin;Password=65647_ccn;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;initial catalog=MonsterDB" providerName="System.Data.SqlClient"/>
   </connectionStrings>
</configuration>